<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <membership defaultProvider="ReadOnlyXmlMembershipProvider">
      <providers>
        <add name="ReadOnlyXmlMembershipProvider"
             type="BugSmak.Security.Providers.ReadOnlyXmlMembershipProvider, BugSmak"
             description="Read-only XML membership provider"
             xmlFileName="Users.xml" />
      </providers>
    </membership>
    <roleManager enabled="true"
                 defaultProvider="ReadOnlyXmlRoleProvider">
      <providers>
        <add name="ReadOnlyXmlRoleProvider"
             type="BugSmak.Security.Providers.ReadOnlyXmlRoleProvider, BugSmak"
             description="Read-only XML role provider"
             xmlFileName="Users.xml" />
      </providers>
    </roleManager>
  </system.web>
</configuration>