-- ===============================================
-- 
-- Configure Data Access Quick Starts EntLibQuickStarts Database
-- 
-- ===============================================

use master
go

--IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'EntLibQuickStarts')
--	DROP DATABASE [EntLibQuickStarts]
--GO

IF NOT (EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'EntLibQuickStarts'))
	CREATE DATABASE EntLibQuickStarts COLLATE SQL_Latin1_General_CP1_CI_AS
GO

exec sp_dboption N'EntLibQuickStarts', N'autoclose', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'bulkcopy', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'trunc. log', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'torn page detection', N'true'
GO

exec sp_dboption N'EntLibQuickStarts', N'read only', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'dbo use', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'single', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'autoshrink', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'ANSI null default', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'recursive triggers', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'ANSI nulls', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'concat null yields null', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'cursor close on commit', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'default to local cursor', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'quoted identifier', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'ANSI warnings', N'false'
GO

exec sp_dboption N'EntLibQuickStarts', N'auto create statistics', N'true'
GO

exec sp_dboption N'EntLibQuickStarts', N'auto update statistics', N'true'
GO

-- =======================================================
-- Delete existing tables
-- =======================================================

use [EntLibQuickStarts]
GO

-- Delete Schema Objects
--

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Employees]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	drop table [dbo].[Employees]
Go

CREATE TABLE [dbo].[Employees] (
	[EmployeeID] [uniqueidentifier] NOT NULL ,
	[LastName] [nvarchar] (20) NOT NULL ,
	[FirstName] [nvarchar] (10) NOT NULL ,
	[Title] [nvarchar] (30) NULL ,
	[TitleOfCourtesy] [nvarchar] (25) NULL ,
	[BirthDate] [datetime] NULL ,
	[HireDate] [datetime] NULL ,
	[Address] [nvarchar] (60) NULL ,
	[City] [nvarchar] (15) NULL ,
	[Region] [nvarchar] (15) NULL ,
	[PostalCode] [nvarchar] (10) NULL ,
	[Country] [nvarchar] (15) NULL ,
	[HomePhone] [nvarchar] (24) NULL ,
	[Extension] [nvarchar] (4) NULL ,
	[Photo] [image] NULL ,
	[Notes] [ntext] NULL ,
	[ReportsTo] [uniqueidentifier] NULL ,
	[PhotoPath] [nvarchar] (255) NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
Go

ALTER TABLE [dbo].[Employees] WITH NOCHECK ADD 
	CONSTRAINT [PK_Employees] PRIMARY KEY  CLUSTERED 
	(
		[EmployeeID]
	)  ON [PRIMARY] 
Go

-- Employees with Photos
ALTER TABLE Employees NOCHECK CONSTRAINT ALL
Go


ALTER TABLE Employees CHECK CONSTRAINT ALL
Go

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetEmployeeContactDetails]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetEmployeeContactDetails]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetEmployeePhoto]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetEmployeePhoto]
GO

CREATE PROCEDURE dbo.GetEmployeeContactDetails
AS
    SELECT EmployeeId, FirstName,LastName,TitleOfCourtesy,Title,HomePhone,Address,City,Region,PostalCode,Country FROM Employees
    
	RETURN 

GO

CREATE PROCEDURE dbo.GetEmployeePhoto
	(
		@EmployeeId uniqueidentifier
	)

AS
    SELECT Photo FROM Employees WHERE EmployeeId=@EmployeeId
    
	RETURN 

GO


