<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <validation>
        <type name="ValidationHOL.BusinessLogic.Customer" defaultRuleset="Default"
            assemblyName="ValidationHOL.BusinessLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
            <ruleset name="Default">
                <properties>
                    <property name="FirstName">
                        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            upperBound="25" name="String Length Validator" />
                    </property>
                    <property name="LastName">
                        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            upperBound="25" name="String Length Validator" />
                    </property>
                    <property name="SSN">
                        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            pattern="\d{3}-\d{2}-\d{4}" name="Regular Expression Validator" />
                    </property>
                    <property name="Address">
                        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ObjectValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            name="Object Validator" />
                    </property>
                </properties>
            </ruleset>
        </type>
        <type name="ValidationHOL.BusinessLogic.Address" defaultRuleset="Default"
            assemblyName="ValidationHOL.BusinessLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
            <ruleset name="Default">
                <properties>
                    <property name="StreetAddress" />
                    <property name="City" />
                    <property name="State">
                        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            upperBound="2" lowerBound="2" name="String Length Validator" />
                    </property>
                    <property name="ZipCode">
                        <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                            pattern="\d{5}(-\d{4})?" name="Regular Expression Validator" />
                    </property>
                </properties>
            </ruleset>
        </type>
    </validation>
</configuration>