<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVqX4xp1AaEek9kIfby+m7wQAAAACAAAAAAADZgAAwAAAABAAAADmAYiYZwYlI0lA9oPbXLCgAAAAAASAAACgAAAAEAAAAMuhtouzxx2jDE4zYTc66n+AAAAA4u2/WnrZT4T08ydUI/OyerR+kY+kK9c+Hz+uSTmkUA3THIeOUVusY/yxZ+HznjTqCQiAmXE8X4U3e9+8HWdMsZfxjWHp3DraS63HNZRjsRngy+zqRe5kVt50VQ06euA776sucReX+zpjdJ9sXbRlaasx3zQrXbxBztjbROKwHh0UAAAAzxNUrPkozlgbh1XbsWhyPN4e7V4=</CipherValue>
      </CipherData>
    </EncryptedData>
  </dataConfiguration>
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAVqX4xp1AaEek9kIfby+m7wQAAAACAAAAAAADZgAAwAAAABAAAAByoMpgkz4zRIHxi+Lv9tJnAAAAAASAAACgAAAAEAAAACgC34MusFkY6IA8/FRS4Mi4AQAAicAe/kKqbohGE9hNAOd4g2I0c6Cx2wddDd5Y+/WKW5r5W8PTpvZ28Z97JC76UlxsPnHCcB1EpbAZgdKcNTenUEUpcu0uh/Lts2lJwBpzXPhDsCKRWQxHIYNcig84ObwzmBPz4hIORL9nMMM/TtDna5dkdUnr3C2f5kDBMXOP3bsPR1R/Cr/sXh/7/7JqUJcGCrYurZrEpFiWlWirUY6y9u8pf4A/9IFcPOKYpqBXOnOg7f/914qZEjsiolWKEf3xS1LCalFl667K+fwJxUrgajUe2f0JEV7953YKIPP3+lx1dZt3CHXVp6nXJxM1ZOihLb8yPXkr2NSAeHmnMcDAdMfDOFOZgkdaqCHejLCHBABxgo9F9hUGGCIctOqWfFSmL/A7b7NctYPflGNIbz0UftKR/NzDuams+IIIQvhrv5iMrgCScj1irXIHK7s0SDRLb3nA3WnL4/rb1q39RxuS+pkA5v0h0dVOP3cWQ2+1Cl31v/5t5isF97yvDq+DeUJQIF3BN1sjmFTyV58bCWCoWbXfWCKdLwYGEKBcLd9LhsF+mIosrZhWeN7vig8cSkljzj1HPIVX1ckUAAAAQvCf4wQhbWr1rZOn3cokF+gfTP0=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>