<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="userStore" type="UserStore.Configuration.UserSettings, UserStore, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <userStore>
    <users>
      <add name="Elmo" password="GEI9OzP/sdrQuYVAuuRJ8Z9Aopls5ysh5/2FVL96Yz0abxpu" />
      <add name="Zoe" password="2X8m+0kI5eA1I0cXTz1GMAGzloKCIqIUAQf0x4UCAVilfQ3Q" />
    </users>
  </userStore>
</configuration>