<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmployeeBrowser.Properties.Settings.EntLibQuickStartsConnectionString"
      connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=EntLibQuickStarts;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="sqlConnection1.ConnectionString" value="Data Source=(local)\SQLEXPRESS;Initial Catalog=EntLibQuickStarts;Integrated Security=True" />
  </appSettings>
</configuration>