<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAACR7nTXxYbkC06HS6EgievQQAAAACAAAAAAAQZgAAAAEAACAAAAAIoE5o735GkOd6blng3WK/uVsdVkK9osg54/hDIdThzQAAAAAOgAAAAAIAACAAAABATWck9kECfq8HOBKYXt4rgTa/tbZ5CSK/rxBqR/gWl4AAAADfbnu9RNk8iMeD8gEf1NYZV5uoe5rAWAcMI8OWQda2zR2kiLFJkeoy19gPWx5V1BIYYHIFQPLeQCTPVRNB90P6Ir1LTLSICWHsvN2Dbg45k2dfnJfNA8HZIwAUriM6jWd/sZNte+JNtrf1lUrBOFLIJVYmE4tz7iuafQctb8sQ+UAAAACzWbC31/7COQn6R9/eevaaM8pSGgmwSEQncGPUty21jAJMZtbLXeaEJgf0QszKmsrcm95HpBfQSymZgxr+HaQP</CipherValue>
      </CipherData>
    </EncryptedData>
  </dataConfiguration>
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAACR7nTXxYbkC06HS6EgievQQAAAACAAAAAAAQZgAAAAEAACAAAADJNCUpL3A0TkTuVEOjJrGICVW3nfq0rcxW5SIdLJkqVAAAAAAOgAAAAAIAACAAAADpP8Tlx9pEPiZQfhqBks1fW053iDAss46g/VojeqQaAaABAACPE7X/+gtjp8BuRk7JBSdDrjtqs5xOslpOxXpS+zEyg3vHAM/tJ3hSdiAxb+qEbOVqCCk/535sr7TLJynsi5n4L2BD7H2kUYrXbxBza32/mW2lgCcytAsxaZcpGqFRvYGbgkmfYsuYJ06afrZtU6tDSpc2cA5WjIOiNOmgghu47bJ9tJ2uinucXZ6BDJPCqWeGWsvTclQLh/KtS1cHrq8X8c51iFJCv7SLSKpM4qxUl/prj0N2KjYnGkIX+XGcP87CSq7HQlHBT6wcX/DYKCIzvjr+cI+xrGfgHiUQ6OrpqlfvfQbFqxN2OWkw6EVlpRHSNkD9WtUo9bNWqmRpGBCoppnjNTTwls1NNBZI71kI2QOBn4UwDXYVM2FI8AqFcDF39YJL9c0gU2E1j4YCdqBnLTHBjVc0aBGeIJVJCYTLYl77b1K3SeKKqXLjzMuXXYTFzN94xucTSxzG36iBa1w1TfY04YrcdzkxjiPpGmXd9M8NXX+U0wPU/13bGbLcurjpVO94Vnj+1Ca4s3PH5l8nsFb/0+ejgvnFoXYdpMKF70AAAABjxo3AA/anI0WU48g0IT5OymmrZrvktrQ7p/5kTfd6BZDQfk4OwWXycwxm6gOv6xjeNb02Lw7hXLl/e9gwGRfz</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>