<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StocksTicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <applicationSettings>
    <StocksTicker.Properties.Settings>
      <setting name="StocksTicker_com_microsoft_office_MoneyCentralRemote"
          serializeAs="String">
        <value>http://office.microsoft.com/Research/Providers/MoneyCentral.asmx</value>
      </setting>
    </StocksTicker.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <sources>
      <source name="Service" switchValue="All">
        <listeners>
          <add name="file"
             initializeData="service.log"
             traceOutputOptions="DateTime"
             type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </listeners>
      </source>
      <source name="UI" switchValue="All">
        <listeners>
          <add name="file"
             initializeData="ui.log"
             traceOutputOptions="DateTime"
             type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias
      alias="TraceSource"
      type="System.Diagnostics.TraceSource, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

    <assembly name="StocksTicker"/>
    <assembly name="PersistenceFramework"/>
    <namespace name="StocksTicker"/>
    <namespace name="StocksTicker.Loggers"/>
    <namespace name="StocksTicker.StockQuoteServices"/>
    <namespace name="StocksTicker.UI"/>
    <namespace name="PersistenceFramework"/>

    <container>
      <register type="IStocksTickerView" mapTo="StocksTickerForm"/>
      <register type="IStockQuoteService" mapTo="MoneyCentralStockQuoteService">
        <property name="Logger"/>
      </register>
      <register type="IRepository[StockQuote]" mapTo="DebugRepository[StockQuote]"/>
      <!-- TODO replace type mapping here -->
      <register type="ILogger" mapTo="ConsoleLogger"/>
      <register name="UI" type="ILogger" mapTo="TraceSourceLogger">
        <lifetime type="singleton"/>
        <constructor>
          <param name="traceSourceName" value="UI"/>
        </constructor>
      </register>
      <register type="StocksTickerPresenter">
        <property name="Logger">
          <dependency name="UI"/>
        </property>
      </register>
    </container>
  </unity>
</configuration>